<div class="row d-flex justify-content-center" *ngIf="!story;else main_content">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<ng-template #main_content>
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <img *ngIf="!story.imagePath"  [src]="imageEmpty" class="img-fluid">
        <img  *ngIf="story.imagePath" [src]="(story.imagePath | imagePhoto )" class="img-fluid">
        
      </div>
    </div>
    <div class="col-md-7">
      <div class="card">
        <form class="form-body" (submit)="updatePhoto(title,description)">
          <div class="form-group m-1">
            <input type="text" class="form-control" placeholder="Titulo " [value]='story.title' #title>
          </div>
          <div class="form-group m-1">
            <textarea rows="2" class="form-control" placeholder="Descripción" [value]='story.description'
              #description></textarea>
          </div>
          <button class="btn btn-primary btn-block m-1"> Update</button>
        </form>
      </div>
    </div>
  </div>
  <button class="btn btn-danger mt-2" (click)="deletePhoto(story._id)">
    Remove
  </button>
</ng-template>