<div class="col-lg-4 mx-auto">
  <div class="card">
    <div class="card-header">
      upload a photo
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <input type="text" class="form-control" name="title" placeholder="Photo Title" #title required />
        </div>
        <div class="form-group">
          <textarea rows="2" class="form-control" name="description" placeholder="Photo Description" #description
            required></textarea>
        </div>
        <div class="alert alert-primary" role="alert" [ngClass]="{'d-none':hideAlertFile}">
          Select a photo
        </div>
        <input type="file" class="d-none" (change)="onPhotoSelected($event)" #photoInput />
        <img [src]="photoSelected || 'assets/img/no-image.png'" class="img-fluid-2" alt="No image"
          (click)="photoInput.click()" />
        <button class="btn btn-primary btn-block mt-1" (click)="uploadPhoto(title, description)">Upload</button>
      </form>
    </div>
  </div>
</div>