.pointer{
  cursor: pointer;
}
.list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 73vh;
  width: 81vw;
  border: 1px solid black;
}
.list-container::-webkit-scrollbar{
  width: 7px;
}
.list-container::-webkit-scrollbar-thumb{
  background:#333;
  border-radius: 20%;
}